/target
/vendor/boost
/HyperHLE_sandbox
/DCIM
/HyperHLE_apps/*.ipa
/HyperHLE_apps/*.app
HyperHLE_log.txt
HyperHLE_wallpaper.*

# Xcode (integration testing app)

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3

# Android

*.iml
.gradle
/local.properties
.idea/
/build
/captures
.externalNativeBuild
.cxx
local.properties
android/app/src/main/jniLibs
android/app/build
android/build

# Default developer dump file

DUMP.txt
